.c-about {
  display: flex;
  align-items: center;

  width: 80%;
  max-width: 118.75rem;

  margin: auto;

  .c-about__image {
    position: relative;
    max-width: 50%;
    width: 50%;

    object-fit: cover;

    border-radius: 3rem;
    user-select: none;
  }
  .c-about__about-info {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: auto 2rem;

    color: transparentize($color-font-primary, 0.19);
    font-size: 0.1rem;
    &-heading {
      font-size: 2.5rem;

      user-select: none;
    }
    &-subheading {
      margin-bottom: 3rem;
      user-select: none;
    }
    &-text {
      line-height: 1.8rem;
      &:nth-of-type(3) {
        align-self: flex-start;
      }
      &:nth-of-type(5) {
        align-self: flex-start;
      }

      &::selection {
        background-color: #b5179d65;
      }
      &:nth-of-type(2) {
        font-weight: bolder;
      }
    }
    &-cta {
      border: 1px solid transparentize($color-font-primary, 0.19);
      color: transparentize($color-font-primary, 0.19);
      padding: 1rem 0;
      width: 20rem;
      margin-top: 3rem;
      text-align: center;
      font-size: 1rem;
      border-radius: 1rem;
      user-select: none;
      overflow: hidden;
      font-family: $font-primary;
      &::before {
        display: none;
      }
      &:hover {
        color: $color-font-primary;
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
