.c-about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  // margin: 5px 0px;
  margin: 1rem auto;
  // padding: 10px;
  // overflow: hidden;
  // border-radius: 0.5rem;
  .c-about__image {
    position: relative;
    width: 50%;
    height: 85%;
    object-fit: cover;
    // height: 50%;
    border-radius: 3rem;
    user-select: none;
    // user-drag: none;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-drag: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
  }
  .c-about__about-info {
    position: relative;
    // background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    width: 90%;
    // margin: auto;
    // line-height: 90px;
    height: 100%;
    color: transparentize($color-navigation-font, 0.19);
    font-size: 2rem;
    &-heading {
      font-size: 4rem;
      // align-self: flex-start;
      justify-self: baseline;
      margin-top: 0;
      margin-bottom: 5px;
      user-select: none;
      // flex: 1 2 0;
    }
    &-subheading {
      margin-bottom: 50px;
      user-select: none;
    }
    &-text {
      width: 70%;
      // height: 10%;
      line-height: 1.7rem;
      font-size: 1.4rem;
      &::selection {
        background-color: #b5179d65;
      }
      &:nth-of-type(2) {
        font-weight: bolder;
      }
    }
    &-cta {
      border: 1px solid #b5179d;
      color: transparentize($color-navigation-font, 0.19);
      padding: 20px 0px;
      width: 20rem;
      margin-top: 50px;
      text-align: center;
      font-size: 1rem;
      border-radius: 1rem;
      user-select: none;
      overflow: hidden;
      font-family: $font-primary;
      &::before {
        display: none;
      }
      &:hover {
        // background-color: transparent;
        color: $color-navigation-font;
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
