.c-about {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // height: fit-content;
  width: 80%;
  max-width: 118.75rem;
  // margin: 5px 0px;
  margin: auto;
  // padding: 10px;
  // overflow: hidden;
  // border-radius: 0.5rem;
  .c-about__image {
    position: relative;
    max-width: 50%;
    width: 50%;
    // padding: 2rem;
    // height: 50rem;
    object-fit: cover;
    // height: 50%;
    border-radius: 3rem;
    user-select: none;
    // user-drag: none;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-drag: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
  }
  .c-about__about-info {
    // position: relative;
    // background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    flex-direction: column;
    // max-width: 500rem;
    align-items: center;
    // left: 0;
    // justify-content: space-between;
    // width: 100%;
    margin: auto 2rem;
    // line-height: 90px;
    // height: 100%;
    color: transparentize($color-font-primary, 0.19);
    font-size: 0.1rem;
    &-heading {
      font-size: 2.5rem;
      // align-self: flex-start;
      // justify-self: baseline;
      // margin-top: 0;
      // margin-bottom: 5px;
      user-select: none;
      // flex: 1 2 0;
    }
    &-subheading {
      margin-bottom: 3rem;
      user-select: none;
    }
    &-text {
      // width: 70%;
      // height: 10%;
      line-height: 1.8rem;
      &:nth-of-type(3) {
        // color: pink;
        // text-align: left;
        align-self: flex-start;
      }
      &:nth-of-type(5) {
        // color: pink;
        // text-align: left;
        align-self: flex-start;
      }
      // font-size: 1.4rem;
      &::selection {
        background-color: #b5179d65;
      }
      &:nth-of-type(2) {
        font-weight: bolder;
      }
    }
    &-cta {
      border: 1px solid transparentize($color-font-primary, 0.19);
      color: transparentize($color-font-primary, 0.19);
      padding: 1rem 0;
      width: 20rem;
      margin-top: 3rem;
      text-align: center;
      font-size: 1rem;
      border-radius: 1rem;
      user-select: none;
      overflow: hidden;
      font-family: $font-primary;
      &::before {
        display: none;
      }
      &:hover {
        // background-color: transparent;
        color: $color-font-primary;
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
