.c-banner {
  height: 100%;
  // position: fixed;
  // top: 6rem;
  // display: flex;
  // align-items: flex-start;
  justify-content: center;
  margin: auto;
  // margin-top: 6rem;
  // overflow: hidden;
  position: relative;
  max-width: 118.75rem;
  // border-radius: 0 0 3rem 3rem;
  font-family: $font-primary;
  &__particles {
    max-width: 118.75rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__content {
    width: 100%;
    position: absolute;
    height: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-secondary;
    user-select: none;
    animation: fadein 1.5s;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &-title {
      color: transparentize($color-font-primary, 0.19);

      max-width: 100%;

      text-align: center;
      font-size: 4em;
    }

    &-text {
      color: transparentize($color-font-primary, 0.19);
      font-size: 2em;
      text-align: center;
    }

    &-cta {
      align-self: center;
      margin: 1rem 0 1.2rem;
      font-size: 2em;
      // max-height: 200px;
      color: transparentize($color-font-primary, 0.19);
      background-color: transparentize($color-background, 0.25);
      padding: 20px;
      border-radius: 1rem;
      transition: all 0.2s ease-in-out;
      border: 1px solid $color-font-primary;
      overflow: hidden;

      // margin-top: 5em;
      &::before {
        display: none;
      }
      &:hover {
        color: $color-font-primary;
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
