.c-contact {
  display: flex;
  max-width: 118.75rem;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin: auto;
  // width: 60%;
  height: 90vh;

  // border-top: 1px solid $color-accent;
  // border-bottom: 1px solid $color-accent;

  border-radius: 1rem;
  &__card {
    // background-color: transparentize($color-background, 0.3);
    // height: 1rem;
    width: 60%;
    border: 1px solid $color-accent;
    margin: auto;
    border-radius: 1rem;
    background-color: transparentize($color-background, 0.15);
    font-family: $font-primary;
    box-shadow: 0px 20px 23px -16px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
      "Heading"
      "Content";

    &__heading {
      margin: 1rem auto;
      h2 {
        font-size: 2rem;
      }

      // height: 32rem;
      // padding: 1rem;
    }

    &__content {
      display: flex;
      justify-content: center;
      // width: 100%;
      // align-items: center;
      // margin: auto;
      // height: 30rem;

      &__intro {
        display: flex;
        flex-direction: column;
        //   align-items: center;
        justify-content: center;
        //   flex-basis: auto;
        text-align: left;
        line-height: 1.5rem;
        width: 40%;

        align-items: flex-start;
        &__heading {
          font-size: 2rem;
          color: $color-font-primary;
        }
        &__description {
          font-size: 1rem;
          color: $color-font-primary;
        }
        &__cta {
          overflow: hidden;
          font-size: 1rem;
          cursor: pointer;
          color: $color-font-primary;
          margin-top: 1rem;
          border-radius: 1rem;
          border: 1px solid $color-accent;
          padding: 0.8rem;
          &:hover {
            color: black;
          }
        }
      }

      &__divider {
        width: 0.5px;
        height: 20rem;
        margin: 2rem;
        // margin-top: 5rem;
        // margin-bottom: 5rem;
        background-color: transparentize($color-accent, 0.5);
        // border-radius: 5rem;
      }

      &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;

        &__heading {
          text-align: center;
          color: $color-font-primary;
        }

        input {
          border: 1px solid $color-accent;
          border-radius: 1rem;
        }

        textarea {
          border: 1px solid $color-accent;
          border-radius: 1rem;
        }
      }

      &__form-cta {
        overflow: hidden;
        font-size: 1rem;

        cursor: pointer;
        color: $color-font-primary;
        margin-top: 0.2rem;
        border-radius: 1rem;
        border: 1px solid $color-accent;
        padding: 0.5rem;
        &:hover {
          color: black;
        }
      }
    }
  }
}
