.c-footer {
  display: flex;
  // z-index: 3;
  align-items: center;
  justify-content: space-between;
  &__footer {
    height: 5rem;
    width: 80%;
    margin: auto;
    display: flex;
    // z-index: 3;
    align-items: center;
    justify-content: space-between;
    background-color: (transparentize(black, 0.05));
    border-radius: 2rem 2rem 0 0;
    font-family: $font-primary;
    max-width: 118.75rem;
  }
  a {
    margin-right: 1.5rem;
    color: white;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    color: white;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
}
