.c-header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
  margin: auto;
  // padding: 2em 10em;
  max-width: 118.75rem;
  background-color: (transparentize($color-background, 0));
  left: 0;
  right: 0;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
  user-select: none;
  z-index: 1000;
  a {
    font-weight: $font-bold;
    color: $color-font-primary;
    font-size: inherit;
    font-family: $font-primary;
    overflow: hidden;
    margin: auto 0.5rem;
    &:active,
    &:hover {
      color: black;
    }
  }

  &.is-floating {
    position: fixed;
    background-color: $color-background;
    z-index: 1;
    box-shadow: 0px 10px 13px -16px rgba(0, 0, 0, 0.75);
    transition: all 0.1s ease-in;
  }
  .c-header-logo span {
    bottom: 0;
    color: $color-font-primary;
    // position: absolute;
    font-weight: bolder;
    font-size: 1em;
    font-family: $font-primary;
    // margin: auto;
    // padding: 1px;

    // align-self: center;
    // background-color: black;
  }
  .is-desktop-only {
    display: none;
  }
  &__side-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: $color-background;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 5;
    padding: #{$gutter + 1.5};

    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    a {
      text-align: center;
      margin: 0;
      // width: 100%;
      // &:before {
      //   width: 3rem;
      //   left: 0;
      // }
    }

    &.is-active {
      opacity: 1;
      transform: translateX(0);
    }

    &-trigger {
      z-index: 6;
    }

    a {
      margin-bottom: 0.8rem;
      font-size: 1rem;
    }
  }
  &__backdrop {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(0.2rem);
    background-color: transparentize(black, 0.5);
    transform: translateY(-100%);
    transition: opacity 0.3s ease;
    z-index: 4;

    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include media(xsmall) {
    height: 3rem;
    &__side-drawer {
      max-width: 50%;
      padding: #{$gutter + 3};
    }
  }

  @include media(small) {
    .c-header-logo span {
      bottom: 0;
      color: $color-font-primary;
      // position: absolute;
      font-weight: bolder;
      font-size: 1.2rem;
      font-family: $font-primary;
      // margin: auto;
      // padding: 1px;

      // align-self: center;
      // background-color: black;
    }
  }

  @include media(large) {
    justify-content: space-between;
    padding: 2em 10em;
    height: 6rem;
    .is-desktop-only {
      display: block;
    }
    .is-mobile-only {
      display: none;
    }
  }
}
