.c-header {
  position: fixed;
  // top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  // max-width: 80%;
  background-color: #6a00ce;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  user-select: none;
  border: 0.3px solid black;
  border-top: none;
  z-index: 1;

  a {
    font-weight: $font-bold;
    color: white;
    font-size: inherit;
    font-family: $font-primary;
    overflow: hidden;
    margin: auto 0.5rem;
    &:active,
    &:hover {
      color: black;
    }
  }
  .c-header-spacer {
    width: 6rem;
  }
  .c-header-logo span {
    bottom: 0;
    // margin-left: 1rem;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    font-family: $font-primary;
  }
  .is-desktop-only {
    display: none;
  }
  &__side-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: $color-background;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 5;
    padding: #{$gutter + 1.5};

    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    a {
      text-align: center;
      margin: 0;
    }
    &.is-active {
      opacity: 1;
      transform: translateX(0);
    }
    &-trigger {
      z-index: 6;
    }
    a {
      margin-bottom: 0.8rem;
      font-size: 1rem;
    }
  }
  &__backdrop {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(0.2rem);
    background-color: transparentize(black, 0.5);
    transform: translateY(-100%);
    transition: opacity 0.3s ease;
    z-index: 4;

    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include media(xsmall) {
    height: 3rem;
    &__side-drawer {
      max-width: 50%;
      padding: #{$gutter + 3};
    }
  }

  @include media(small) {
    .c-header {
      justify-content: space-evenly;
    }

    .c-header-logo span {
      bottom: 0;
      color: white;
      font-weight: bolder;
      font-size: 1.2rem;
      font-family: $font-primary;
    }
  }

  @include media(large) {
    justify-content: space-between;
    padding: 2em 10em;
    height: 3rem;
    border-radius: 0 0 2rem 2rem;
    max-width: 80%;
    .c-header-spacer {
      display: none;
    }
    .is-desktop-only {
      display: block;
    }
    .is-mobile-only {
      display: none;
    }
  }
}
