.c-showcase {
  // width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // height: 100vh;
  // border: 1px solid black;
  border-radius: 1rem;
  background-color: transparentize(rgb(32, 32, 32), 0.05);
  box-shadow: 0px 22px 13px -16px rgba(0, 0, 0, 0.842);
  // background-color: rgba(167, 167, 167, 0.87);
  // align-items: center;
  margin: auto;
  max-width: 118.75rem;
  color: white;
  .react-images {
    border-radius: 1rem;
  }
  &__title {
    text-align: center;
    margin: 3rem;
    // margin-bottom: 1.5rem;
    // width: 80%;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    &__card {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
      border-radius: 1rem;
      // width: 100%;
      font-family: $font-primary;

      // border-top: none;
      &-image {
        width: 100%;
        // height: 100%;
        // position: absolute;
        object-fit: cover;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.07s ease-in;
        &:hover {
          transform: scale(1.05);
        }
        &:active:hover {
          transform: scale(1);
        }

        &-wrapper {
          // position: relative;
          // padding-bottom: 1rem;
          // width: 100%;
        }
      }

      &-content {
        // flex: 1;
        padding: 0.5rem;
        line-height: 0.9rem;
        text-align: center;
        &-title {
          // margin: 0;
          // color: black;
          overflow: hidden;
          // align-self: center;
          // text-align: center;
          &:before {
            content: none;
          }

          h3 {
            // margin-bottom: 0.3rem;
          }
        }
      }

      &-stack {
        display: flex;
        font-weight: bold;
        user-select: none;

        justify-content: center;
        // width: 100%;

        // overflow: hidden;
        margin-top: 0.2rem;

        span {
          display: inline-block;
          padding: 0.5rem 0.5rem;

          // color: transparentize($color-font-primary, 0.19);
          border: 1px solid white;
          border-radius: 0.15rem;
          margin: 0.3rem;
        }
      }

      &-cta {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            padding: 0.3rem;
            a {
              width: 1.5rem;
              overflow: hidden;
              transition: all 0.2s ease-in-out;
              &:hover {
                transform: scale(1.2);
              }
              path {
                fill: white;
              }
              &:before {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  @include media(xsmall) {
    &__title {
      // max-width: 20rem;
      font-size: 1.5rem;
    }
  }

  @include media(small) {
    &__title {
      // margin-bottom: 2rem;
    }
    &__grid {
      justify-content: center;

      &__image {
        width: 1.5rem;
        max-width: 100%;
      }
    }
  }
  //   &__grid {
  //     padding: 0rem;
  //     flex-direction: row;
  //     justify-content: center;

  //     &__card {
  //       width: 45%;
  //       margin: 0 2.5%;
  //       margin-bottom: 1rem;

  //       &-icon {
  //         width: 5rem;
  //       }
  //     }
  //   }
  // }

  // @include media(medium) {
  //   &__title {
  //     margin-bottom: 3rem;
  //   }

  //   &__grid {
  //     padding: 0rem;

  //     &__card {
  //       width: 30%;
  //       margin: 0 1.5%;
  //       margin-bottom: 1.8rem;

  //       &-icon {
  //         width: 6rem;
  //       }
  //     }
  //   }
  // }

  @include media(large) {
    width: 80%;
    &__grid {
      // flex-wrap: nowrap;
      // flex-direction: row;
      width: 100%;
      // padding: 0rem;
      &__card {
        margin: 2rem;
        width: 40%;
      }
    }
  }
}
