.c-skills {
  width: 80%;
  max-width: 118.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  padding: 6rem;
  border: 1px solid $color-accent;
  border-radius: 1rem;
  color: $color-font-primary;
  background-color: transparentize($color-background, 0.2);
  box-shadow: 0px 18px 13px -16px rgba(0, 0, 0, 0.842);
  // border-top: 1px solid $color-accent;
  // border-bottom: 1px solid $color-accent;

  // color: transparentize($color-font-primary, 0.19);
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  &__grid {
    display: flex;
    justify-content: space-around;
    // width: 100px;
    &__card {
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      &-icon {
        width: 25rem;
        height: 20rem;

        & svg path {
          fill: transparentize($color-primary, 0);
          transition: all 0.5s ease-in-out;
          // stroke: $color-accent;
        }
        // &:hover {
        //   & svg path {
        //     fill: transparentize($color-accent, 0);
        //     // stroke: $color-accent;
        //   }
        // }
      }

      &-techs {
        display: flex;
        justify-content: center;
        & svg {
          width: 3rem;
          height: 3rem;
          padding: 0;
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}
