.c-skills {
  max-width: 118.75rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid $color-accent;
  border-left: none;
  border-right: none;
  border-radius: 1rem;
  color: $color-font-primary;
  background-color: white;
  box-shadow: 0px 18px 13px -16px rgba(0, 0, 0, 0.842);
  &__heading {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  &__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100px;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto;
      margin-top: 0;
      // width: 50%;
      // padding: 3rem;
      text-align: center;
      // border: 1px solid black;
      h2 {
        font-size: 1.5rem;
      }

      &-icon {
        width: 18rem;
        // height: 20rem;

        & svg path {
          fill: transparentize($color-primary, 0);
          transition: all 0.5s ease-in-out;
        }
      }

      &-techs {
        display: flex;
        justify-content: center;
        & svg {
          width: 3rem;
          height: 3rem;
          padding: 0;
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }

  @include media(medium) {
    &__grid {
      flex-direction: row;
      &__card {
        margin: 1rem 5rem 5rem;
      }
    }
  }

  @include media(large) {
    width: 80%;
    border-left: 1px solid $color-accent;
    border-right: 1px solid $color-accent;
    // &__grid {
    //   &__card {
    //     margin: 1rem 5rem 5rem;
    //   }
    // }
  }

  @include media(xlarge) {
    // &__grid {
    //   &__card {
    //     margin: 1rem 5rem 5rem;
    //   }
    // }
  }
}
