$color-primary: #262b58;
$color-primary-compliment: #fafafa;

$color-background: #f1faee;
$color-background-secondary: #3f37c9;

$color-accent: #b5179e;

$color-selection: #b5179e;

$color-backdrop: transparentize($color-primary, 0.5);

$color-success: $color-primary;
$color-error: #4cc9f0;

$color-navigation-font: black;
