@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
$font-primary: 'Hack', monospace;
$font-secondary: 'Hack', serif;
// $font-secondary: 'Montserrat', serif;

$font-regular: 400;
$font-bold: 700;

$font-size-base: 1rem;
