@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap");
$font-primary: "Source Code Pro", monospace;
$font-secondary: "Source code Pro", serif;

$font-regular: 400;
$font-bold: 700;

$font-size-base: 1rem;
